.ant-modal-content {
  padding: 0;
}

.ant-modal-footer {
  display: flex;
  justify-content: flex-end;
  padding: 10px 24px;
}

.ant-modal-body {
  max-height: 80vh;
  overflow-y: auto;
  padding: 10px 24px;
}

.ant-modal-header {
  background: #0066b3 !important;
  padding: 20px;
}

.ant-modal-title {
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
}

.ant-modal-close-icon {
  svg[data-icon='close'] {
    fill: #ffffff !important;
    width: 18px;
    height: 18px;
  }
}
