// Định nghĩa các màu
$primary-blue: #0168a5;
$main-blue: #0f51aa;
$gray-400: #e1e1e1;
$default-bg: #f3f8ff;
$black-444: #444444;
$gray-navi: #a1a7ad;
$input-blue: #007bff;
$thead-blue: #5383c3;
$white: #fff;
$black: #000;
